{% block default %}
    <div class="Darkanakin41-file css3">
        <i class="fab fa-css3-alt"></i>
    </div>
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ asset(file.filepath) }}" type="text/css" />
{% endblock %}
